body{
    font-family: "Montserrat Alternates", Sans-serif;
    color: #000000 !important;
    margin: 0;
    padding: 0;
}

nav{
    background: #eeeeee;
    padding: 5px 50px !important;
}

nav ul li a{
    font-weight: 700;
}

.navbar-dark .navbar-toggler {
    color: #ff8336 !important;
    border-color: #FFC837 !important;
}

.navbar-brand img{
    width: 65px;
}

.nav-link{
    color: #1f1f1f !important;
    font-size: 17px;
}

.navbar-nav .active a:before{
    color: #FFC837 !important;
    position: absolute;
    margin-top: 20px;
    margin-left: 9px;
    content: "\2022";
    font-size: 0.8em;
    pointer-events: none;
    text-shadow: 10px 0 #FFC837, -10px 0 #FF8008;
    animation: colore 2s infinite;
}

@keyframes colore{
    30%{
        color: #FF8008;
        text-shadow: 10px 0 #000000, -10px 0 #FFC837;
    }
    60%{
        color: #000000;
        text-shadow: 10px 0 #FFC837, -10px 0 #FF8008;
    }
    100%{
        color: #FFC837;
        text-shadow: 10px 0 #FF8008, -10px 0 #000000;
    }
}

.navbar-nav .nav-item a:hover:before{
    color: #FF8008 !important;
    position: absolute;
    margin-top: 20px;
    margin-left: 9px;
    content: "\2022";
    font-size: 0.8em;
    pointer-events: none;
    text-shadow: 10px 0 #FFC837, -10px 0 #FF8008;
    animation: colore 2s infinite;
}

.nav-item{
    padding: 0px 23px !important;
}

#main{
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 150px;
    padding-bottom: 120px;
    color: #ffffff;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.head-title {
    font-size: 50px !important;
    font-weight: 100 !important;
    line-height: 1.3em;
    margin: 0 0 10px;
}

#main .content{
    padding: 50px 0px;
}

.right{
    float: right;
}

.space-60 {
    height: 60px;
}

.space-70 {
    height: 60px;
}

#main h1{
    font-weight: 100;
    letter-spacing: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    visibility: visible; 
    animation-duration: 2s; 
    animation-delay: 0.3s;
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft{
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.main-img{
    max-width: 100%;
    height: auto;
    visibility: visible; 
    animation-duration: 4s; 
    animation-delay: 0.3s;
    animation-name: fadeInUp;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.sec2{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/brand/wood-bg.jpg");
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
    text-align: center;
}

.sec3{
    background: #1f1f1f;
}

.sec3 .imgs img{
    width: 100%;
    height: 460px;
}

.sec3 div:nth-child(2){
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec3 div:nth-child(2) h6{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.sec3 div:nth-child(2) h2{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}


.sec3 div:nth-child(2) form input{
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 1px solid #eeeeee;
    padding: 2px 0px;
    color: #eeeeee;
}

.sec3 div:nth-child(2) form select{
    width: 100%;
    background: none;
    border: 1px solid #eeeeee;
    padding: 2px 10px;
    color: #eeeeee;
}

.sec3 div:nth-child(2) form select option{
    background: white;
    color: #000000;
}

.sec3 div:nth-child(2) form textarea{
    width: 100%;
    height: 70px;
    background: none;
    border: 1px solid #eeeeee;
    padding: 2px 10px;
    color: #eeeeee;
}

.sec3 div:nth-child(2) button{
    background: #FF8008;
    border: none;
    border-radius: 4px;
    padding: 7px 25px;
    color: #fff;
}

footer{
    background: #1f1f1f;
    padding: 10px 0px 30px 0px;
    color: #fff;
}

.full-half-circle{
    margin-bottom: -0.9px;
}

.full-half-circle path{
    fill: #1f1f1f;
    stroke: #262424c4;
}

footer p{
    color: #c5c0c0;
    font-size: 14px;
}

footer p a{
    color: #FF8008;
}

footer img{
    width: 80px;
    margin-bottom: 20px;
}

footer ul{
    margin: 0;
    padding: 0;
}

footer ul li{
    list-style-type: none;
    font-size: 14px;
}

footer .social-link li:nth-child(1){
    margin-left: 0 !important;
}

footer .social-link{
    margin-top: 20px;
}

footer .social-link li{
    display: inline-block;
    background: linear-gradient(-10deg, #FF8008 30%, #FFC837 100%) !important;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 10px;
    line-height: 20px;
}

footer .social-link li a{
    color: #fff; 
}


footer .footer-link li a{
    color: #c5c0c0 !important;
}

footer .social-link li a i{
    font-size: 20px;
}

.newsletter div input{
    border: 1px solid #FF8008;
    padding: 5px;
}

.newsletter div button{
    color: #ffffff;
    background: #FF8008;
    border: 1px solid #FF8008;
    padding: 5px;
}

h5.footer-title {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 1.5rem;
    margin-top: 40px;
}

footer hr{
    border-top: 1px solid #f8f9fa !important;
}

footer .copyright p{
    text-align: center;
}

.my {
    background: -webkit-linear-gradient(#FFC837,#FF8008);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#breadcrumb{
    background: linear-gradient(150deg,rgba(0,0,0,0.3), rgba(255,213,17,0.7)), url("../images/brand/directors.png") no-repeat 0px -100px;
    background-size: cover;
    padding: 150px 0px 50px 0px;
    color: #ffffff;
    z-index: -100;
}

#breadcrumb h1{
    font-size: 47px !important;
}

#breadcrumb ul{
    padding-left: 0;
}

#breadcrumb ul li{
    display: inline;
}

#breadcrumb ul li a{
    color: #ffffff;
}


#sourcing{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/brand/c-image.jpg") no-repeat 0px -140px;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sourcing .sourcing-one{
    color: #ffffff;
}

#sourcing .sourcing-one p a{
    color: #ffffff;
}

#sourcing .sourcing-two{
    background: #c0c0c0;
    padding: 20px;
}

#sourcing .sourcing-two input:nth-child(1){
    width: 100%;
    margin-bottom: 1em;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

#sourcing .sourcing-two input:nth-child(3){
    width: 100%;
    margin-bottom: 1em;
    padding: 5px;
}

#sourcing .sourcing-two input:nth-child(5){
    width: 100%;
    margin-bottom: 1em;
    padding: 5px;
}

.specify{
    padding: 5px;
    border: none;
    border-radius: 3px;
    visibility: hidden;
}

#sourcing .sourcing-two h3{
    font-weight: 400;
}

#sourcing select{
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin-bottom: 1em; 
}

#sourcing button{
    background: #000000;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 10px;
}

.thp-main{
    padding-top: 60px;
    padding-bottom: 60px;
}

.thp-main .thp{
    text-align: center;
}

.thp-main p{
    font-size: 13px;
    color: #a8a3a3;
}

.thp-main i{
    color: #FF8008;
    font-size: 40px;
}